body {
    background-color: black;
    color: gray;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
}

h1 {
    font-family: 'Pirata One', cursive !important;
    color: maroon !important;
    font-size: 3rem;
    display: inline;
}

p {
    color: gray;
}

#summon {
    padding: .5rem;
    border-style: outset;
    border-style: double;
}

img {
    width: 400px;
    height: 400px;
}
