body {
    background-color: black;
    color: gray;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.1rem;
}

.content {
    margin: auto;
}

h1 {
    font-family: 'Pirata One', cursive;
    color: maroon;
    font-size: 3rem;
    display: inline;
    text-align: center;
}

p {
    color: gray;
}

#summon {
    padding: .5rem;
    border-style: outset;
    border-style: double;
}

img {
    width: 300px;
    height: 300px;
}
