body {
    background-color: black;
    color: gray;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: 'Pirata One', cursive !important;
    color: maroon !important;
    font-size: 3rem;
}

p {
    color: gray;
}

#summon {
    padding: 1rem;
    border-style: outset;
    border-style: double;
}
